.top
  .top_1
    = link_to "アクション・アドベンチャー", tag_path(1)
    = link_to "SF・ファンタジー", tag_path(2)
    スポーツ
    .top__1
    = link_to image_tag(src= "kakutou.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "fan.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "supo-tu.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
  .top_2
    ヤンキー・任侠
    ギャンブル
    ギャグ・コメディー
    .top__2
    = link_to image_tag(src= "yannki-.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "gyannburu.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "gyagu.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
  .top_3
    日常系
    ヒューマンドラマ
    職業・ビジネス
    .top__3
    = link_to image_tag(src= "nitizyou.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "kagaku.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "bizinesu.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
  .top_4
    恋愛
    歴史・時代劇
    グルメ
    .top__4
    = link_to image_tag(src= "rennai.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "zidai.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
    = link_to image_tag(src= "gurume.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
  .top_5
    その他
    .top__5
    = link_to image_tag(src= "sonota.jpg", class: "kakutou", size: "350x400"), "/mangas/new"
