.contents.row
  .action
    %iおすすめのアクション・アドベンチャー漫画
    %p詳細ページ
  .more
    .more_list
      = link_to '編集', "/actions/#{@action.id}/edit", method: :get
      = link_to '削除', "/actions/#{@action.id}", method: :delete, data: { confirm: '削除しますか?' }
  %span.name
    %pニックネーム
    = @action.name
    %p
    コメント
    = simple_format(@action.text)
    %p
    画像
    .content_post{:style => "background-image: url(#{@action.image});"}
  -#     .contents.row
  -# %a{:href => "actions/new"} 投稿する
  -# .action
  -# %iおすすめのアクション・アドベンチャー漫画
  -# - @actions.each do |action|
  -#   - if action.image?
  -#   = image_tag action.image, :size =>'510x450'
  -#     .text
  -#       = simple_format(action.text)
  -#       .bottom
  -#         = link_to '詳細', "/actions/#{action.id}", method: :get
  -#         = link_to '編集', "actions/#{action.id}/edit", method: :get
  -#         = link_to '削除', "/actions/", method: :delete, data: { confirm: '削除しますか?' }
