.contents.row
  .content_post{:style => "background-image: url(#{@age.image});"}
    .more
      %ul.more_list
        %li
          = link_to '編集', "/actions/#{@age.id}/edit", method: :get
        %li
          = link_to '削除', "/actions/#{@age.id}", method: :delete
    = simple_format(@age.text)
    %span.name
      = @age.name